.pageColor {
    background-color: #2E2E2E;
}

.backgroundImage {
    font-family: 'Fira Code', monospace;
    background-image: url('../assets/band-beat-black-and-white-65717.jpg');
    height: 550px;
    background-size: cover;
    color: white;
}