.pageColor {
    background-color: #2E2E2E;
}

.backgroundImage {
    font-family: 'Fira Code', monospace;
    background-image: url('../assets/band-beat-black-and-white-65717.jpg');
    height: 550px;
    background-size: cover;
    color: white;
}

.imageAlign {
    text-align: center;
}

.button {
    margin-bottom: 2em;
    margin-top: 1em;
    border: none;
    height: 50px;
    width: 200px;
    background-color: gray;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}